/* FILEPATH: /c:/Users/anton.angervall/Desktop/webbutveckling/24wuab/css/style.css */


body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 12px;
  height: 100vh;
  background-image:url(../img/cool-background.png);
  background-size: cover;
}   
#wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 10% 45% 15% 15%;
    grid-template-areas: 
    'logga nav nav'   
    '. . .'
    'box1 box2 box3'
    '. . .'
    'ft ft ft'
    ;
}

#wrapper2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 10% 45% 15% 15%;
    grid-template-areas: 
    'logga nav nav'   
    '. . .'
    'box1 box2 box3'
    '. . .'
    'ft ft ft'
    ;
}






@media screen and (max-width: 500px) {
    #wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 45% 45% 45%;
        grid-template-areas: 
        'logga'
        'nav'
        'box1'
        'box2'
        'box3'
        'ft'
        ;
        gap: 15px;
    }   
   #wrapper2{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 10% 20% 45% 45% 45%;
       grid-template-areas: 
       'logga'
       'nav'
       'box1'
       'box2'
       'box3'
       'ft'
       ;
         gap: 15px;
   }

   #wrapper3{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 10% 20% 45% 45% 45%;
       grid-template-areas: 
       'logga'
       'nav'
       'iteam1'
       'iteam2'
       'ft'
       ;

         gap: 15px;

         #lasmer1{
            display: flex;
            justify-content: center;
            margin-top: 225px;
        }
        .ft{height: 40%;
        }
        
        #lasmer1 p{font-size: 10px;}
        #lasmer2{
            display: flex;
            justify-content: center;
            margin-top: 440px;
        }
        #lasmer2 p{font-size: 10px;}

        #lasmer3{
            display: flex;
            justify-content: center;
            margin-top: 220px;
        }

        #lasmer3 p{font-size: 10px;}
        #popup{font-size: 13px;}
        
        
   }

    #wrapper4{
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 15% 35% 35% 15%;
         grid-template-areas: 
         'logga'
         'nav'
         'iteam1'
         'iteam2'
         'ft'
         'ft'
         ;
            nav{margin-top: 70px;}
            .fot{margin: 7%;}
            .shop2 p {font-size: 10.5px;}
            .shop1 img{width: 250%;}   
            .shop3 p{display: none;} 

            
    }
}



.logga{
    grid-area: logga;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logga img{
    width: 200px;
    border-radius: 20px;
}
 
nav {
    grid-area: nav;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    gap: 10px;
    width: 100%;
    padding: 0;
}
nav ul li {
    border-radius: 20px;
    height: 50px;
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
    color: aqua;  
    border-radius: 20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    width: 95%;
}

.boxwrapper{
    width: 100%;
    height: 100%;
}

.boxwrapper:has(.box_event1) {
    grid-area: box1;
}

.boxwrapper:has(.box_event2) {
    grid-area: box2;
}

.boxwrapper:has(.box_event3) {
    grid-area: box3;
}

@keyframes turn {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes turn-text {
    0% {
        visibility: hidden;
    }

    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.turnfunktion:hover .box {
    animation: turn 0.5s linear;
}

.content {
    display: none;
}

.turnfunktion:hover > .box > .content {
    display: block;
    visibility: visible;
    animation: turn-text 0.5s linear;
}

.turnfunktion:hover > .box > p {
    display: none;
}

.box_event1 {
    grid-area: box1;
    background-color: purple;
    margin-left: 5px;
}

.box_event1 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}



.box_event2 {
    grid-area: box2;
    background-color: yellow;
    margin-left: 5px;
}

.box_event2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.box_event3 {
    grid-area: box3;
    background-color: gray;
    margin-left: 10px;
}

.box_event3 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.boxhem1 {
    grid-area: box1;
    background-color: red;

}

.boxhem2 {
    grid-area: box2;
    background-color: green;
}


.boxhem3 {
    grid-area: box3;
    background-color: blue;
}


.ft {
    grid-area: ft;
    background-color: lightblue;
    border-radius: 20px;
    margin-top: 5px;

}

.fot {
    background-color: aqua  ;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 25px 250px;
    
}

#father{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

header {
    display: flex;
    align-items: center;
}

.omossbox1{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
}

.omoss1{
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: lightblue;
    border-radius: 20px;
}


.omossbox2 {
    background-color: lightblue;
    height: 200px;
    width: 200px;  
    border-radius: 10%;
    overflow: hidden;
}

.omossbox2 p {
    font-size: 14.6px;
    margin: 0;
}

.omossbox3 {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    overflow: hidden;
}

.omossbox3 p {
    font-size: 14.6px;
    margin: 0;
}

.omossbox4 {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    overflow: hidden;
}

#lasmer1 {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 7%;
    border-radius: 20%;
    top: 87%;
    right: 69%;
}

#lasmer1 p {
    font-size: 14.6px;
    font-weight: oblique;
    text-align: center;;
}

#lasmer1:hover {
    color: blue;
}
.år {
    width: 100%;
}


#lasmer2 {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 7%;
    border-radius: 20%;
    top: 87%;
    right: 43%;
}

#lasmer2 p {
    font-size: 14.6px;
    font-weight: oblique;
    text-align: center;
}

#lasmer2:hover {
    color: blue;
}

.allsvenskan {
    width: 100%;
}

#lasmer3 {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 7%;
    border-radius: 20%;
    top: 87%;
    right: 17%;
}

#lasmer3 p {
    font-size: 14.6px;
    font-weight: oblique;
    text-align: center;
}

#lasmer3:hover {
    color: blue;
}

.sponsorer {
    width: 100%;
}

#wrapper4 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 35% 35% 15%;
    grid-template-areas: 
    'logga nav nav'   
    'iteam1 iteam1 iteam1'
    'iteam2 iteam2 iteam2'
    'ft ft ft'
    ;
}

.shop1{
    grid-area: iteam1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    width: 25%;
    margin-left: 35%
}

.shop1 img{
    height: 100%;
    width: 120%;
    border-radius: 20px;
}
.shop1 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

.shop2 {
    grid-area: iteam2;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 48%;
    margin-left: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);

}
.shop2 p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 2%;
}

.shop3 {
    grid-area: iteam2;
    width: 48%;
    height: 100%;
    display: flex;
    }

.shop3 img {
    border-radius: 20px;
    height: 100%;
}
.shop3 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
    

.shop3 p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
}






   
